
@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

footer {
  text-align: center;
  padding: $padding-footer;
  background-color: $color-primario-hover; 
  margin-top: $margin-top-section;

  a {
    margin: 0 10px;
    text-decoration: none;
    color: $color-fondo; // antes era beige

    &:hover {
      color: $color-primario-hover;
    }
  }
}
