
@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-main; 
  gap: 20px; 
}

.imagen-servicios {
  width: $width-imagen-servicios; 
  height: auto;
  margin: $margin-top-section auto; 
  display: block;
}
