@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; // logo a la izq, nav a la der
  align-items: center;
  padding: $padding-header;
  background-color: $color-primario;
}

.logo-residencia {
  width: $width-logo;
  height: auto;
}

@media (max-width: $bp-tablet) {
  .header-flex {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: $bp-mobile) {
  .logo-residencia {
    width: 100px; 
  }
}
